[submodule "LexCollection"]
	path = LexCollection
	url = git@github.com:Lexicality/jsliblib.git
[submodule "gobyexample"]
	path = gobyexample
	url = git@github.com:mmcgrana/gobyexample.git
[submodule "microcmds"]
	path = microcmds
	url = git@github.com:benjojo/-cmds.git
